In [1]:
import pandas as pd
import numpy as np

# Loading Data

In [2]:
brew = pd.read_csv('../data/breweryinfo.csv')
brew.head()

,beer_ratings,beer_reviews,beer_score,beers,brewery_name,brewery_number,brewery_pdev,brewery_ratings,brewery_review,brewery_score,city,country,province
0,8,3,3.39,6,'A Magara,40282,NaN,NaN,NaN,NaN,Nocera Terinese,Italy,NaN
1,38,23,3.98,7,1 Dampfbierbrauerei Zwiesel GmbH & Co.KG,6006,NaN,NaN,NaN,NaN,Zwiesel,Germany,NaN
2,1,1,3.30,1,"0,5 Pub",53883,0%,0,0.0,0/5,Cahul,Moldova,NaN
3,"2,952",514,3.85,45,(512) Brewing Company,17863,0%,2,0.0,4.02/5,Austin,United States,Texas
4,0,0,0.00,4,0 Mile Brewing Company,42171,NaN,NaN,NaN,NaN,Hummelstown,United States,Pennsylvania

#### Let's remove the '%' and '/5' from brewery_pdev and brewery_score

In [3]:
brew['brewery_pdev'] = pd.to_numeric(brew['brewery_pdev'].str.replace('%', ''))

In [4]:
brew['brewery_score'] = pd.to_numeric(brew['brewery_score'].str.replace('/5', ''))

In [5]:
brew.head()

,beer_ratings,beer_reviews,beer_score,beers,brewery_name,brewery_number,brewery_pdev,brewery_ratings,brewery_review,brewery_score,city,country,province
0,8,3,3.39,6,'A Magara,40282,NaN,NaN,NaN,NaN,Nocera Terinese,Italy,NaN
1,38,23,3.98,7,1 Dampfbierbrauerei Zwiesel GmbH & Co.KG,6006,NaN,NaN,NaN,NaN,Zwiesel,Germany,NaN
2,1,1,3.30,1,"0,5 Pub",53883,0.0,0,0.0,0.00,Cahul,Moldova,NaN
3,"2,952",514,3.85,45,(512) Brewing Company,17863,0.0,2,0.0,4.02,Austin,United States,Texas
4,0,0,0.00,4,0 Mile Brewing Company,42171,NaN,NaN,NaN,NaN,Hummelstown,United States,Pennsylvania

In [6]:
beer = pd.read_csv('../data/beerinfo.csv')
beer.head()

/home/cedric/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,abv,availability,ba_score,beer_name,beer_number,brewery_name,brewery_number,notes,pdev,ranking,ratings,reviews,style
0,5.6,Year-round,4.14,Trupija,172735,'A Magara,40282,Year-round,0%,-,1,0,Belgian Saison
1,5.5,Year-round,0.00,Trilla,172737,'A Magara,40282,Year-round,0%,-,0,0,German Hefeweizen
2,6.0,Year-round,2.80,Riulì,273357,'A Magara,40282,Year-round,0%,-,2,1,American Pale Ale (APA)
3,8.0,Year-round,3.41,Magarìa,249754,'A Magara,40282,Year-round,0%,-,2,1,American Porter
4,7.0,Year-round,3.57,Mericana,318408,'A Magara,40282,Year-round,0%,-,1,0,American IPA

Reading the beer csv file prompted an error on two beers that were not parsed by the spider properly. The first one is [Weird Beard / Farmageddon Suspect Device](https://www.beeradvocate.com/beer/profile/31624/228703/) and the second one is [Interboro / Pipeworks - Mad Fat! Unicorn](https://www.beeradvocate.com/beer/profile/44293/272459/). I have no idea the scraper failed on those two, but we have to move on with our lives. We have to remove those entries.

In [7]:
beer = beer[pd.to_numeric(beer['brewery_number'], errors='coerce').notnull()]
beer['brewery_number'] = pd.to_numeric(beer['brewery_number'])
beer.shape

(267465, 13)

In [8]:
comments = pd.read_csv('../data/comment.csv')

/home/cedric/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
comments.head()

,ba_score,beer_number,comment,date,feel,look,overall,rdev,smell,taste,username
0,4.14,172735,NaN,"Dec 24, 2017",NaN,NaN,NaN,NaN,NaN,NaN,Nattesferd
1,3.57,318408,NaN,"Dec 24, 2017",NaN,NaN,NaN,NaN,NaN,NaN,Nattesferd
2,2.37,235628,Muddy appearance. Decent white foam.<br>\nGras...,"Jun 14, 2016",NaN,NaN,NaN,NaN,NaN,NaN,stcules
3,4.06,119066,16.9 brown flip-top brown bottle with a freshn...,"Apr 24, 2014",NaN,NaN,NaN,NaN,NaN,NaN,Jason
4,2.83,273357,"Dark amber, very hazy, with some small pieces ...","Mar 22, 2017",NaN,NaN,NaN,NaN,NaN,NaN,stcules

In [10]:
comments.shape

(2404130, 11)

Similarly, we'd have to remove comment entries for those two beers

In [11]:
comments = comments[pd.to_numeric(comments['beer_number'], errors='coerce').notnull()]
comments['beer_number'] = pd.to_numeric(comments['beer_number'])

In [12]:
comments.shape

(2404096, 11)

In [13]:
beer = beer[pd.to_numeric(beer['beer_number'], errors='coerce').notnull()]
beer['beer_number'] = pd.to_numeric(beer['beer_number'])

## Taking a look at comment data

In [28]:
comments['comment'].iloc[3]

'16.9 brown flip-top brown bottle with a freshness date.    Good clarity, lots of bubbles to make a great head ... very pale yellow in color. Clean nose with hints of white grape skin, fresh hay, herbal hop, faint yeast, and grapenuts. Solid crispness, dry bready character throughout. Peppery, herbal, earthy, lemony hop flavor with a balance and slightly assertive bitterness.     Real easy to knock back, a real testament of what German beer is about.    \xa0 449 characters   '

#### There are evidently still some html tags left in the comments. We shell remove that

In [30]:
comments['comment'] = comments['comment'].str.replace('<[^>]*>',' ')
comments['comment'] = comments['comment'].str.replace('\\n',' ')
comments['comment'] = comments['comment'].str.replace('(\\xa0.*characters)',' ')

In [31]:
comments['comment'].iloc[3]

'16.9 brown flip-top brown bottle with a freshness date.    Good clarity, lots of bubbles to make a great head ... very pale yellow in color. Clean nose with hints of white grape skin, fresh hay, herbal hop, faint yeast, and grapenuts. Solid crispness, dry bready character throughout. Peppery, herbal, earthy, lemony hop flavor with a balance and slightly assertive bitterness.     Real easy to knock back, a real testament of what German beer is about.        '

### Saving data as one SQL database

In [32]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///beeradvocate.db')

In [33]:
brew.to_sql('breweries', con = engine)
beer.to_sql('beers', con = engine)
comments.to_sql('reviews', con = engine)

## Subsetting data to Canadian only

In [34]:
can_brew = brew[brew['country'] == 'Canada']
can_brew.head()

,beer_ratings,beer_reviews,beer_score,beers,brewery_name,brewery_number,brewery_pdev,brewery_ratings,brewery_review,brewery_score,city,country,province
51,71,24,3.91,27,2 Crows Brewing Co.,48315,0.00,1,0.0,4.04,Halifax,Canada,Nova Scotia
98,270,74,3.86,98,5 Paddles Brewing Co.,32116,9.51,12,2.0,4.31,Whitby,Canada,Ontario
140,4,4,3.66,4,948 Brewing Company Ltd,53506,NaN,NaN,NaN,NaN,Airdrie,Canada,Alberta
148,6,0,4.31,10,9 Mile Legacy Brewing,52744,0.00,1,1.0,4.75,Saskatoon,Canada,Saskatchewan
166,58,26,3.68,37,Abe Erb Brewing Co.,40576,5.57,6,2.0,3.95,Waterloo,Canada,Ontario

In [35]:
can_beer = beer[beer['brewery_number'].isin(can_brew['brewery_number'])]
can_beer.head()

,abv,availability,ba_score,beer_name,beer_number,brewery_name,brewery_number,notes,pdev,ranking,ratings,reviews,style
82,5.2,Limited (brewed once),3.94,Wild Skies,364375,2 Crows Brewing Co.,48315,Limited (brewed once),0%,-,2,1,American Wild Ale
83,5.3,Rotating,4.31,Thunderdome,386937,2 Crows Brewing Co.,48315,Rotating,0%,-,2,1,Belgian Lambic
343,5.0,Year-round,3.47,5 Pale Ale,336145,5 Paddles Brewing Co.,32116,Year-round,0%,-,2,1,American Pale Ale (APA)
347,5.0,Rotating,3.50,Wicked Sensation,137826,5 Paddles Brewing Co.,32116,Rotating,0%,-,1,0,American Pale Wheat Ale
348,6.3,Rotating,3.44,Wheatby,244293,5 Paddles Brewing Co.,32116,Rotating,0%,-,1,0,American Pale Wheat Ale

In [36]:
can_reviews = comments[comments['beer_number'].isin(can_beer['beer_number'])]
can_reviews.head()

,ba_score,beer_number,comment,date,feel,look,overall,rdev,smell,taste,username
108,4.11,364375,Appearance - Pours a hazy blush with two finge...,"Dec 16, 2018",NaN,NaN,NaN,NaN,NaN,NaN,leaddog
109,4.11,386937,A collaboration brew with Small Pony Barrel Wo...,"Dec 15, 2018",NaN,NaN,NaN,NaN,NaN,NaN,leaddog
1481,3.07,336145,NaN,"Apr 30, 2018",NaN,NaN,NaN,NaN,NaN,NaN,Sammy
1498,3.50,137826,NaN,"Sep 19, 2014",NaN,NaN,NaN,NaN,NaN,NaN,Electros
1499,3.44,244293,NaN,"Oct 08, 2016",NaN,NaN,NaN,NaN,NaN,NaN,Electros

### Save these files as csv for furthur analysis

In [37]:
can_brew.to_csv("../data/CanadianBreweries.csv")
can_beer.to_csv("../data/CanadianBeers.csv")
can_reviews.to_csv("../data/CanadianReviews.csv")